.top-header {
    background-color: #0652DD;
}

.top-header a {
    transition: color 0.3s ease-in-out;
    color: rgba(255,255,255,.85);
}

.top-header a:hover {
     color: #fff;
 }

.top-header a.active {
    color: #fff;
    font-weight: 700;
}

